<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn1_Nhom6_new"
        tools:targetApi="31">
        <activity
            android:name=".taikhoan.Show_SanPham"
            android:exported="false" />
        <activity
            android:name=".taikhoan.ChiTietSPActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.NhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.NguoiDungActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".taikhoan.DangNhapActivity"
            android:exported="false" />

        <activity
            android:name=".taikhoan.ChaoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>